.body-main {
    background: url('images/Background.png') no-repeat center center fixed;
    background-size: cover;
}

.headerItems {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(1.75px);
}

.header1 {
    color: #CFCFCF;
    font-family: Satoshi;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.12px;
}

.header2 {
    color: #CFCFCF;
    font-family: Satoshi;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.12px;
}

.subheader1 {
    color: #CFCFCF;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;
}

.subheader1-black {
    color: #1d1d1d;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
}

.bodyTitle {
    color: #CFCFCF;
    text-align: center;
    font-family: Satoshi;
    font-size: 26.9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.538px;
}

.bodyText {
    color: #CFCFCF;
    text-align: center;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.5%;
    /* 24.88px */
}

.bodyText-left {
    color: #CFCFCF;
    text-align: left;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.5%;
    /* 24.88px */
}

.bodyText-black {
    color: #1d1d1d;
    text-align: center;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.5%;
    /* 24.88px */
}

.bodyText-left-black {
    color: #1d1d1d;
    text-align: left;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.5%;
    /* 24.88px */
}

.btn-primary {
    /* border-radius: 14px; */
    /* background: #FF8201; */
    box-shadow: 0px 2px 16px 0px rgba(226, 173, 119, 0.50);
}

.btn-secondary {
    border-radius: 14px;
    background: #cfcfcf00;
    border: 2px solid #FFC108;
}

.card-glass {
    border-radius: 46.5px;
    border: 2px solid #ffc10834;
    background: linear-gradient(167deg, rgba(255, 255, 255, 0.24) 6.91%, rgba(255, 255, 255, 0.06) 90.79%);
    box-shadow: 0px 8px 32px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.5px);
}

.section-margin {
    margin-top: 80px;
    margin-bottom: 40px;
}

.section-margin-wider {
    margin-top: 140px;
    margin-bottom: 40px;
}

.FAQ-title {
    color: #1b1b1b;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.538px;
}

.FAQ-body {
    color: #000;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.item {
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.item:hover {
    color: white;
    border-radius: 8px;
    background-color: rgba(255, 193, 8, 0.4);
}

.filter-options {
    border-radius: 16px;
    opacity: 0.5;
    background: rgba(206, 206, 206, 0.50);
}

.image-grid {
    transition: transform 0.3s;
}

.image-grid:hover {
    transform: scale(1.05);
}

.descriptor {
    border-radius: 32px;
    opacity: 0.75;
    background: #3F3F3F;
    color: white;
    box-shadow: 9px 16px 16px 8px rgba(54, 54, 54, 0.30);
    backdrop-filter: blur(20px);
}

.in-action-image-container {
    overflow: hidden; /* Ensure the image is clipped within the container */
    position: relative; /* Establish positioning context for the absolute positioned image */
  }

.in-action-image {
    width: 25%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.in-action-image:hover {
    transform: scale(1.1);
}

.in-action-image.parallax {
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.in-action-image.parallax:hover {
    transform: translate(10px, 10px);
}